@model Diplom.Domain.ViewModels.PatientRegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-4">Добавление пациента</h2>
        </div>
        <div class="card-body">
            <form id="registerForm">
                <div class="mb-3">
                    <label for="Login" class="form-label">Логин:</label>
                    <input asp-for="Login" type="text" class="form-control" id="Login" name="Login">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Пароль:</label>
                    <input asp-for="Password" type="password" class="form-control" id="Password" name="Password">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="PasswordConfirm" class="form-label">Подтверждение пароля:</label>
                    <input asp-for="PasswordConfirm" type="password" class="form-control" id="PasswordConfirm" name="PasswordConfirm">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="PatientName" class="form-label">ФИО:</label>
                    <input asp-for="PatientName" type="text" class="form-control" id="PatientName" name="PatientName">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Age" class="form-label">Возраст:</label>
                    <input asp-for="Age" type="text" class="form-control" id="Age" name="Age">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="BloodType" class="form-label">Группа крови:</label>
                    <input asp-for="BloodType" type="text" class="form-control" id="BloodType" name="BloodType">
                    <span class="error text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Allergies" class="form-label">Аллергии:</label>
                    <input asp-for="Allergies" type="text" class="form-control" id="Allergies" name="Allergies">
                    <span class="error text-danger"></span>
                </div>
                <input type="hidden" id="Initiator" name="Initiator" value="@User.Identity.Name">
                <button type="submit" id="addNewPatient" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script>     
        $('#addNewPatient').on('click', function (e) {
            e.preventDefault();
            const data = $('#registerForm').serialize()
            $.ajax({
                url: '@Url.Action("PatientRegistration", "Profile")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (data) {
                    Swal.fire({
                        title: 'Информация',
                        text: 'Ошибка валидации',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            });
        });
    </script>
}
