@model Diplom.Domain.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Вход в аккаунт";
    Layout = "_Layout";
}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">

            <div class="mb-5 mt-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
              <p class="text-white-50 mb-5">Пожалуйста, введите свой логин и пароль!</p>
                
              <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                  <div asp-validation-summary="All" class="text-danger text-center" style="font-size: 23px; font-family: Impact;"></div>
                  <div class="mb-4">
                      <input asp-for="Login" class="form-control form-control-lg" placeholder="Логин">
                  </div>

                  <div class="mb-4">
                      <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control form-control-lg">
                  </div>
                  
                  <div class="text-center">
                      @* <a asp-controller="Account" asp-action="Register" class="btn btn-primary" type="button">Регистрация</a> *@
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Войти</button>
                  </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

